*{
	font-family: arial, sans-serif;
	
}
ul{
	list-style-type: none;
}
li{
	font-size: 0.8rem;
	display: inline-block;
	padding: 3px;
	
}
 .image{
 	margin-top: 170px;
	text-align: center;
}
img {
	height : 92px;
}
.footer{
	position: fixed;
	bottom: 0;
	background-color: #f2f2f2;
	width: 100%;
}
.buttons{
	text-align: center;
}
.navbar{
	/*float: right;*/
 	text-align: right;
 /*clear: right;*/
 /*float: right;*/
 /*background-color: black;*/
}
.right {
	float: right;
	width: 200px;
}
.lefty{
	float: left;
	width: 200px;
}

input{
	height: 34px;
	width: 484px;
	border: 1;
	border-radius: 0px;
	box-shadow: 2px 2px #f2f2f2;
}
button{
	font-size: 13px;
	height: 36px;
	width: 143px;
	margin-top: 10px;
	border:none;
	background-color: #f2f2f2;
}